@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,700;1,9..144,700&family=Montserrat:ital,wght@0,500;0,700;1,500;1,700&display=swap");

/* font-family: 'Fraunces', serif;
font-family: 'Montserrat', sans-serif; */
/* variables */

:root {
  --darkCyan: #3c8067;
  --cream: #f2ebe3;
  --veryDarkBlue: #1c232b;
  --darkGrayishBlue: #6c7289;
  --white: #ffffff;
  --desktopView: 1440px;
  --mobileView: 375px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--cream);
  font-size: 16px;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
}

.container {
  max-width: var(--desktopView);
  margin: auto;
}

.box-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  border-radius: 1rem;
  overflow: hidden;
  height: 700px;
  width: 900px;
}
.img-container {
  height: 100%;
  width: 50%;
  margin: auto;
}
.img-container img {
  width: 100%;
  height: 100%;
}

.info-container {
  width: 50%;
  height: 100%;
  margin: auto;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.info-category h3 {
  text-transform: uppercase;
  color: var(--darkCyan);
  letter-spacing: 3px;
  font-weight: 500;
}

.info-heading h1 {
  font-size: 4rem;
  font-family: "Fraunces", serif;
  color: var(--veryDarkBlue);
  line-height: 3.9rem;
  font-weight: 700;
}

.info-desc {
  font-size: 1.5rem;
  text-align: left;
  color: var(--darkCyan);
  opacity: 0.8;
}
.info-price {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  justify-content: start;
}

.info-price h2 {
  font-size: 3rem;
  color: var(--darkCyan);
}
.info-price h3 {
  color: var(--darkCyan);
}

.info-cart {
  background-color: var(--darkCyan);
  text-align: center;
  padding: 1.6rem 0;
  border-radius: 0.8rem;
  font-size: 1.3rem;
  color: #fff;
}
.info-cart a {
  color: #fff;
  font-weight: 500;
  text-decoration: none;
  cursor: pointer;
}

/* Mobile View */

@media only screen and (max-width: 1000px) {
  .box-container {
    flex-direction: column;
    height: 90vh;
    width: 95%;
    margin: auto;
  }
  .img-container {
    height: 50%;
    width: 100%;
    margin: auto;
  }
  .img-container img {
    width: 100%;
    height: 100%;
  }

  .info-container {
    width: 100%;
    height: 50%;
  }
}

@media only screen and (max-width: 700px) {
  .info-container {
    width: 100%;
    height: 50%;
  }
  .info-container h1 {
    font-size: 3rem;
    line-height: 2.8rem;
  }
  .info-desc {
    font-size: 1.2rem;
  }

  .info-price h2 {
    font-size: 1.7rem;
  }
  .info-price h3 {
    font-size: 0.8rem;
  }
  .info-cart {
    padding: 1rem 0;
    font-size: 1rem;
  }
}

@media only screen and (max-width: 400px) {
  .info-container {
    width: 100%;
    height: 50%;
  }
  .info-container h1 {
    font-size: 1.7rem;
    line-height: 1.7rem;
  }
  .info-desc {
    font-size: 0.8rem;
  }

  .info-price h2 {
    font-size: 1.7rem;
  }
  .info-price h3 {
    font-size: 0.8rem;
  }
  .info-cart {
    padding: 1rem 0;
    font-size: 1rem;
  }
}
